## Create users

Notebook used to create users

In [11]:
from oss_hugo.OSS_Participant import OSS_Participant

In [19]:
names = [ 'Alicia Barnes','Adrian Taylor','Ashleigh Eastway','Ashraf Aboukass',
          'Azzeddine Ramrami','Brett Crawley','Brian Johnson','Christopher Dobson',
          'Colin Lobley','Cybil Colaco','DSC-5','DSC-6','Dan Ashby','David English',
          'David Jensen','Deepak Subramanian','EJ Quinn','Emily Berman','Emma Fang',
          'Felix Kariuki','Florian Buetow','Foteini Karantoni','Gabor Pek','George Glass',
          'Harold Blankenship','Hwee Ching Neo','Jeroen Beckers','Jill McDonald','John Ellingsworth',
          'Karen Navas','Marco Mancini','Michael Duff','Mike McCamon','Mustafa Kasmani',
          'Patricia Duarte','Pedro Dantas','Peter Hicks','Pravinder Arora','Rebecca Ditchburn',
          'Robert Grace','Roberto PÃ©rez','Roger Comastorres','Sarah Clark','Scott Hayward',
          'Simon Wardley','Steven van der Baan','William Devos','Wouter de Meijer',
          'Xavier Delgado','Yan Kravchenko','Zsolt Kalman','Zuhal Vargun']
results = []
for name in names:    
    result = OSS_Participant().create(name)
    results.append({'_status': result.get('status'), 'name': name})

pd.DataFrame(results)

  _status           name
0   error  Alicia Barnes
1   error  Adrian Taylor

{'status': 'error',
 'data': 'target file already existed: /home/jovyan/content/participant/adrian-taylor.md'}