## Edit or detete participant fields

Notebook used to do batch edits or deletions of participant's fields

In [35]:
#%load_ext autoreload
%autoreload
from oss_hugo.OSS_Participant import OSS_Participant
from oss_hugo.API_Hugo_OSS import API_Hugo_OSS
from oss_hugo.OSS_GSheet_Data import OSS_GSheet_Data

In [36]:
%autoreload
data = OSS_GSheet_Data()
hugo = API_Hugo_OSS()
#participants = list(hugo.participants().values())

In [99]:
fields_to_delete = ['night_day','eventbrite_id','funded_who','night_room','regonline','pre-summit',
                     'sponsored_by','venue','villa']
hugo.df_participants()[fields_to_delete].tail()

,night_day,eventbrite_id,funded_who,night_room,regonline,pre-summit,sponsored_by,venue,villa
122,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
%autoreload
md_participants = hugo.md_files_participants()
md_participant  = md_participants[0]
participant     = OSS_Participant(md_participant)
participant.metadata()
participant.field('type','participant')
participant.save()

SyntaxError: invalid syntax (<ipython-input-100-99fc69caf55e>, line 8)