## Edit or detete participant fields

Notebook used to do batch edits or deletions of participant's fields

In [35]:
#%load_ext autoreload
%autoreload
from oss_hugo.OSS_Participant import OSS_Participant
from oss_hugo.API_Hugo_OSS import API_Hugo_OSS
from oss_hugo.OSS_GSheet_Data import OSS_GSheet_Data

In [99]:
fields_to_delete = ['night_day','eventbrite_id','funded_who','night_room','regonline','pre-summit',
                     'sponsored_by','venue','villa']
hugo.df_participants()[fields_to_delete].tail()

,night_day,eventbrite_id,funded_who,night_room,regonline,pre-summit,sponsored_by,venue,villa
122,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
%autoreload
fields_to_delete = ['night_day','eventbrite_id','funded_who','night_room','regonline','pre-summit',
                     'sponsored_by','venue','villa']

md_participants = hugo.md_files_participants()
for md_participant in md_participants:
    participant     = OSS_Participant(md_participant)
    for field_to_delete in fields_to_delete:
        participant.delete_field(field_to_delete)
    participant.save()    
    

"removed {0} fields from {1} files".format(len(fields_to_delete), len(md_participants))

'removed 9 fields from 126 files'

In [112]:
hugo.df_participants().columns

Index(['chapter_leader', 'company', 'email', 'facebook', 'featured', 'image',
       'job_title', 'layout', 'linkedin', 'night_where', 'notes', 'pre_summit',
       'project_leader', 'role', 'sessions', 'status', 'title', 'tracks',
       'travel-from', 'travel_from', 'twitter', 'type', 'website',
       'working_sessions'],
      dtype='object')

In [114]:
hugo.df_participants()[['title','chapter_leader']]

                      title chapter_leader
0             Brett Crawley
1                  EJ Quinn
2             Lauren Chiesa
3             Hardik Parekh            NaN
4          Philippe De Ryck
5         John Ellingsworth
6                 Kim Wuyts
7           Ashraf Aboukass
8            Michael Madsen
9                 Gabor Pek
10                 Tom Ling
11
12       Harold Blankenship
13           Francisco Novo            NaN
14            Brian Johnson
15         Claudio Camerino            NaN
16             Zuhal Vargun
17            Sven Schleier
18           Jeroen Beckers
19            Lars Svensson
20               Sara Davis
21      Steven van der Baan
22            Scott Hayward
23         Paulino Calderon   Riviera Maya
24                      NaN            NaN
25             George Glass
26            Roberto Pérez
27         Ashleigh Eastway
28             Mike McCamon
29            Marco Mancini
..                      ...            ...
96        Jannik Hollenbach            NaN
97           Sherif Mansour            NaN
98           David Cervigni
99               Jim Manico
100         Adrian Winckles      Cambridge
101         Carlos Holguera            NaN
102             Andra Lezza
103         Felipe Zipitria        Uruguay
104            Didar Gelici            NaN
105           Sam Stepanyan            NaN
106        Bjoern Kimminich            NaN
107  Sebastien Deleersnyder            NaN
108          Steven Wierckx            NaN
109           Khaled Fattal
110        Jeroen Willemsen            NaN
111               Jon Hawes            NaN
112          Christoph Jung            NaN
113             Tash Norris            NaN
114              Dinis Cruz            NaN
115           Yasmin Martin            NaN
116             Jemma Davis            NaN
117            Maeve Scarry            NaN
118           Sonya Moisset            NaN
119           James Wharton            NaN
120          Simon Pavillon            NaN
121        David James-Roll
122             Chris Allen
123             Mario Platt
124             Paul Davies
125            Phil Huggins

[126 rows x 2 columns]

In [123]:
gsheet=OSS_GSheet_Data()

In [124]:
df_gsheet = gsheet.df_participants_onsite()

In [125]:
df_gsheet[df_gsheet['Chapter Leader'] != '']

,Accommodation,Chapter Leader,Company,Days,ID,Location,Name,Nights,Page On website,Payment Status,Project Leader,Skills/Topics,Sponsor
1,Yes,WiaLondon,,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__2,Onsite,Lauren Chiesa,"[Mon, Tue, Wed, Thu]",Yes,Paid,,,
9,Yes,Belgium,Toreon,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__10,Onsite,Sebastien Deleersnyder,"[Mon, Tue, Wed, Thu]",Yes,,OWASP SAMM,"SAMM, Threat Modeling",
49,Yes,Belgium,PWC,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__50,Onsite,Bart De Win,"[Mon, Tue, Wed, Thu]",Yes,,OWASP SAMM,,
69,Yes,Uruguay,,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__70,Onsite,Felipe Zipitria,"[Mon, Tue, Wed, Thu]",Yes,,,Hugo,OWASP
97,Yes,Morocco,,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__98,Onsite,Azzeddine Ramrami,"[Mon, Tue, Wed, Thu]",Yes,,CSRFGuard,,OWASP
98,Yes,London,,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__99,Onsite,Andra Lezza,"[Mon, Tue, Wed, Thu]",Yes,,,,OWASP
102,Yes,Cambridge,,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__103,Onsite,Adrian Winckles,"[Mon, Tue, Wed, Thu]",Yes,,"Application Security Curriculum, OWASP Honeypot",,OWASP
103,Yes,Riviera Maya,,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__104,Onsite,Paulino Calderon,"[Mon, Tue, Wed, Thu]",Yes,,OWASP IoT Goat,,OWASP
107,No,London,,[Thu],OSS_19__108,Onsite,Sam Stepanyan,[],Yes,,,,OWASP

In [126]:
df_gsheet[df_gsheet['Project Leader'] != '']

,Accommodation,Chapter Leader,Company,Days,ID,Location,Name,Nights,Page On website,Payment Status,Project Leader,Skills/Topics,Sponsor
9,Yes,Belgium,Toreon,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__10,Onsite,Sebastien Deleersnyder,"[Mon, Tue, Wed, Thu]",Yes,,OWASP SAMM,"SAMM, Threat Modeling",
10,Yes,,Toreon,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__11,Onsite,Steven Wierckx,"[Mon, Tue, Wed, Thu]",Yes,,OWASP Threat Modeling,Threat modeling,
13,Yes,,Kühne + Nagel (AG & Co.) KG,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__14,Onsite,Bjoern Kimminich,"[Mon, Tue, Wed, Thu]",Yes,Paid,OWASP Juiceshop,,
25,No,,OWASP,"[Tue, Wed]",OSS_19__26,Onsite,Simon Bennetts,[],Yes,Paid,OWASP ZAP,,
42,No,,,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__43,Onsite,Steven van der Baan,[],Yes,Paid,OWASP Capture The Flag,,DevSecCon
49,Yes,Belgium,PWC,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__50,Onsite,Bart De Win,"[Mon, Tue, Wed, Thu]",Yes,,OWASP SAMM,,
52,Yes,,Xebia,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__53,Onsite,Jeroen Willemsen,"[Mon, Tue, Wed, Thu]",Yes,Paid,OWASP Mobile Security Testing Guide,,
64,Yes,,,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__65,Onsite,Sven Schleier,"[Mon, Tue, Wed, Thu]",Yes,Paid,OWASP Mobile Security Testing Guide,,OWASP
97,Yes,Morocco,,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__98,Onsite,Azzeddine Ramrami,"[Mon, Tue, Wed, Thu]",Yes,,CSRFGuard,,OWASP
100,Yes,,,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__101,Onsite,Jim Manico,"[Mon, Tue, Wed, Thu]",Yes,,"OWASP Proactive Controls, OWASP Cheatsheet Ser...",,OWASP
102,Yes,Cambridge,,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__103,Onsite,Adrian Winckles,"[Mon, Tue, Wed, Thu]",Yes,,"Application Security Curriculum, OWASP Honeypot",,OWASP
103,Yes,Riviera Maya,,"[Mon, Tue, Wed, Thu, Fri]",OSS_19__104,Onsite,Paulino Calderon,"[Mon, Tue, Wed, Thu]",Yes,,OWASP IoT Goat,,OWASP